*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins';
}
p{
    font-weight: 400;
}

.description{
    width: 50%;
    margin: 50px auto 25px;
}
.desc-quote{
    font-weight: 200;
    text-align: center;
    color: hsl(229, 6%, 66%);
    margin: -7px;
}
.desc-spons{
    font-weight: 600;
    text-align: center;
}
.desc-paragraph{
    text-align: center;
    color: hsl(229, 6%, 66%);
    font-size: 13px;
    width: 93%;
    margin: 7px auto 0;
}

/* MAIN CONTENT */
.main-content{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto 50px;
}
.card{
    margin: 25px 0;
    padding: 25px;
    border-radius: 5px;
    border: 1px solid hsl(0, 0%, 98%);
    box-shadow: 1px 5px 12px hsl(229, 6%, 66%);
    width: 28%;
    position: relative;
}
.card-1{
    border-top: 5px solid hsl(180, 62%, 55%);
}
.card-2{
    border-top: 5px solid hsl(0, 78%, 62%);
}
.card-3{
    border-top: 5px solid hsl(34, 97%, 64%);
}
.card-4{
    border-top: 5px solid hsl(212, 86%, 64%);
}
.center{
    width: 28%;
    margin: 0 25px;
}
.center-card{
    width: 100%;
}
.card-heading{
    font-size: 18px;
    font-weight: 600;
    margin: 2px 0 5px;
    color: hsl(234, 12%, 34%);
}
.card-paragraph{
    line-height: 1.8;
    font-size: 11px;
    width: 95%;
    margin-bottom: 85px;
    color: hsl(229, 6%, 66%);
}
.card-image{
    position: absolute;
    right: 25px;
    bottom: 25px;
    width: 55px;
}


/* MOBILE SCREEN STYLE */
@media(max-width: 500px){
    .description{
        width: 100%;
    }
    .desc-quote, .desc-spons{
        font-size: 26px;
        margin-top: 10px;
    }
    .desc-paragraph{
        font-size: 16.5px;
        width: 85%;
        margin: 15px auto;
    }

    /* MAIN CONTENT */
    .main-content{
        margin: 80px 0;
        flex-direction: column;
    }
    .card{
        width: 85%;
        margin: 0;
        border-radius: 3%;
    }
    .center{
        width: 100%;
        position: relative;
        left: 30px;
        margin: 0;
    }
    .center-card{
        margin: 25px 0;
    }
    .card-heading{
        font-size: 20px;
    }
    .card-paragraph{
        font-size: 13.5px;
        margin-bottom: 100px;
    }
    .card-image{
        width: 70px;
    }
}